# Core functionality - changes here should be rare!
/src/app.py                   @richardsimonb
/src/backend/database.py      @richardsimonb
/src/backend/routers/auth.py  @richardsimonb

# The frontend will need refactored soon to be more object oriented.
/src/static/   @richardsimonb
